{% extends "common/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="collection">
    <h2>{% trans 'Latest Trends' %}</h2>
    <ul class="categories" type="none">
        {% for category in categories %}
            <li>
                <a href="{% url 'details-category' category.id %}">
                    <img src="{{ category.profile_image.url }}" alt="{{ category.name }}">
                    <h3>{{ category.name }}</h3>
                </a>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}