{% extends "common/base.html" %}

{% block content %}
    {% include 'clothes/categories' %}
    {% for category in categories %}
        <p>{{ category.name }} with {{ category.type }}</p>
{% if request.user.is_staff %}
                <p>Edit:</p> <form method="post" action="{% url 'update-category' category.slug %}">
    {% csrf_token %}
    <button class="btn btn-danger">🗑️Update</button>
</form>
        <p>Delete:</p> <form method="post" action="{% url 'delete-category' category.slug %}">
    {% csrf_token %}
    <button class="btn btn-danger">🗑️ Delete</button>
</form>
        {% endif %}

    {% endfor %}
{% endblock %}