{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ella Prime - Create a category</title>
    <link rel="stylesheet" href="{% static 'css/category-create.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}?v=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
     {% include "common/logo.html" %}
        <form method="post" class="create-category-form">
    {% csrf_token %}
        <h3>Create a category</h3>
        <div class="name-form">{{ form.name }}</div>
        <div class="image-form">{{ form.profile_image }}</div>

    <p><button class="create-button common-button" type="submit">Create</button></p>
    </form>
         <div class="existing">Existing categories: {{ categories|join:", " }}</div>
</div>
</body>
</html>
