{% extends "common/base.html" %}

{% block content %}

<h1>My Orders</h1>
<p>Shipping address: {{ order.shipping_address }}</p>
<p>Phone: {{ order.phone_number }}</p>
{% if object_list %}
    {% for order in object_list %}
        <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
            <p>Status: {{ order.get_status_display }}</p>
            <p>Total: {{ order.total_amount }}€</p>
            <p>Created: {{ order.created_at }}</p>

            <ul>
                {% for item in order.items.all %}
                    <li>
                        {{ item.product.garment.name }}
                        ({{ item.product.size.name }} /
                        {{ item.product.color.name }})
                        × {{ item.quantity }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% else %}
    <p>No orders yet.</p>
{% endif %}

{% endblock %}