.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

#nav-search-form {
    display: flex;
    gap: 5px;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.3s ease;
}

#nav-search-form.active {
    max-width: 500px;
}



.nav-search-input {
    width: 0;
    opacity: 0;
    padding: 0;
    border: none;
    transition: all 0.3s ease;
}

.nav-search-input.active {
    width: 180px;
    opacity: 1;
    padding: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}