 {% load static %}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ella Prime - Login</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}?v=2">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
     {% include "common/logo.html" %}
<h2>Reset Password</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <button type="submit">Send Reset Email</button>
</form>    
    
</div>



</body>
</html>