{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ella Prime</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=3">
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
{% include 'common/nav.html' %}
<main>
{% block content %}
{% endblock %}
</main>
<footer>
    <div class="site-map">
        <ul class="map-list" type="none">
            <li><h5>SHOP</h5>
                <ul class="li-ul" type="none">
                <li><a href="#">Collection</a></li>
                <li><a href="#">Gift Card</a></li>
                </ul>
            </li>
            <li><h5>HELP</h5>
            <ul class="li-ul" type="none">
                <li><a href="#">Customer service</a></li>
                <li><a href="#">My account</a></li>
                <li><a href="#">My orders</a></li>
                <li><a href="#">Returns and exchanges</a></li>
            </ul></li>
            <li><h5>LEGAL AND PRIVACY</h5>
            <ul class="li-ul" type="none">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Sales conditions</a></li>
            </ul>
            </li>
        </ul>
    </div>
    <div>&copy; Copyright Ella Prime &copy; 2026</div>
</footer>
</body>
</html>