<div class="container">
    <h1>Contact Us</h1>

{% if messages %}
  {% for message in messages %}
    <div class="message">{{ message }}</div>
  {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
        {{ form.non_field_errors }}
    <div class="name">{{ form.name }}        {{ form.name.errors }}</div>
    <div class="email">{{ form.email }}        {{ form.email.errors }}</div>
    <div class="message">{{ form.message }}        {{ form.message.errors }}</div>
    <button type="submit" class="common-button">Send</button>
</form>

</div>