{% extends 'common/base.html' %}
{% load static %}


{% block content %}
    <h1 class="site-logo"><a href="#"><img src="{% static 'images/Af87d8369df3d418a95793f5bd9ffa169t.png' %}" alt="website-logo" width="450px"></a></h1>
    <section class="collection">
    <h2>Latest Trends</h2>
    <ul class="categories" type="none">
        <li><a href="#"><img src="#" alt="">
            <h3>Dresses</h3>
        </a></li>
        <li><a href="#"><img src="#" alt="">
            <h3>Pants</h3>
        </a></li>
        <li><a href="#"><img src="#" alt="">
            <h3>Skirts</h3>
        </a></li>
        <li><a href="#"><img src="#" alt="">
            <h3>Shirts and tops</h3>
        </a></li>
        <li><a href="#"><img src="#" alt="">
            <h3>Cardigans</h3>
        </a></li>
        <li><a href="#"><img src="#" alt="">
            <h3>Jackets</h3>
        </a></li>
    </ul>
    </section>
    <section class="">
    <h5 class="selection">This week's selection:</h5>
    <h2>DENIM!</h2>
    <button>Discover Now</button>
    <ul class="store-ad">
        <li>Free delivery over 60€</li>
        <li>New items every week</li>
        <li>Safe pavement: Credit Card, Debit Card, PayPal, Payment on Delivery</li>
    </ul>
    </section>
    <section class="gallery">
    <h2>Discover our collection</h2>
    <button>Discover</button>
    </section>
{% endblock %}
