{% load static %}
<nav>
    <h2 class="logo">Ella Prime</h2>
    <ul class="navigation" type="none">
        <li><a href="#">Homepage</a></li>
        <li><a href="#">New in</a></li>
        <li><a href="#">Promo</a></li>
        <li><a href="#">Collection</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <ul class="customer" type="none">
        <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
        <li><a href="#"><i class="fa-solid fa-heart"></i> Wishlist</a></li>
        <li><a href="#"><i class="fa-regular fa-circle-user"></i> Account</a></li>
        <li><a href="#"><i class="fa-solid fa-cart-arrow-down"></i> Cart</a></li>
    </ul>
</nav>