{% load static %}
<nav>
    <ul class="navigation" type="none">
        {% if request.user.is_staff %}
        <li><a href="{% url 'create-garment' %}">Add garment</a></li>
        <li><a href="{% url 'create-category' %}">Add category</a></li>
        <li><a href="{% url 'create-size' %}">Add size</a></li>
        <li><a href="{% url 'create-color' %}">Add color</a></li>
        <li><a href="{% url 'create-promotion' %}">Add promotion</a></li>
        {% else %}
        <li><a href="#">New in</a></li>
        <li><a href="#">Promo</a></li>
        <li><a href="{% url 'all-garments' %}">Collection</a></li>
        <li><a href="#" id="custom-nav-li">Gallery</a></li>
        <li><a href="#">Contact</a></li>
        {% endif %}
    </ul>
{% include "common/logo.html" %}
    <ul class="customer" type="none">
    {% if not request.user.is_staff %}
<li class="search-container">
    <form method="get" action="{% url 'garment-search' %}">
        <input
            type="text"
            name="q"
            placeholder="Search garments..."
            class="nav-search-input"
        >
    </form>

    <a href="#" id="search-toggle">
        <i class="fa-solid fa-magnifying-glass"></i>
    </a>
</li>
        <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></li>
    {% endif %}
    <li>
    {% if not request.user.is_authenticated %}
        <a href="{% url 'login' %}"><i class="fa-regular fa-user"></i></a>
        {% else %}
        <a href="{% url 'customer-details' %}"><i class="fa-regular fa-user"></i></a>
        {% endif %}
    </li>
{% if request.user.is_authenticated %}
<li>
    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">
            <i class="fa-solid fa-right-from-bracket"></i>
        </button>
    </form>
</li>
{% endif %}
    </ul>
</nav>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const toggle = document.getElementById("search-toggle");
    const input = document.querySelector(".nav-search-input");

    toggle.addEventListener("click", function (e) {
        e.preventDefault();
        input.classList.toggle("active");

        if (input.classList.contains("active")) {
            input.focus();
        }
    });
});

document.addEventListener("click", function (e) {
    if (!input.contains(e.target) && !toggle.contains(e.target)) {
        input.classList.remove("active");
    }
});
</script>