{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ella Prime - Create a garment</title>
    <link rel="stylesheet" href="{% static 'css/garment-create.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
     {% include "common/logo.html" %}
        <form method="post" enctype="multipart/form-data" class="create-category-form">
    {% csrf_token %}
        <h3>Create a garment</h3>
<div class="form-grid">
    <div class="field">
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>
    <div class="field">
        {{ form.category.label_tag }}
        {{ form.category }}
    </div>
<div class="field">
    <label for="gallery_images">Gallery Images</label>
    <input type="file" name="gallery_images" id="gallery_images" multiple>
    <small>You can select multiple images (Ctrl/Cmd or drag & drop)</small>
</div>
    <div class="field full">
        {{ form.description.label_tag }}
        {{ form.description }}
    </div>
<p class="color-form">
{{ form.color.label_tag }}
    {% for color in colors %}
        <label class="color-option">

<input type="checkbox"
       name="color"
       value="{{ color.id }}"
       {% if color in form.instance.color.all %}checked{% endif %}>
            <span class="color-square"
                  style="background-color: {{ color.hex_code }};">
            </span>
        </label>
    {% endfor %}
</p>
    <div class="field">
        {{ form.price.label_tag }}
        {{ form.price }}
    </div>
    <div class="field">
        {{ form.stock.label_tag }}
        {{ form.stock }}
    </div>
    <div class="field">
        {{ form.size.label_tag }}
        {{ form.size }}
    </div>
    <div class="field">
        {{ form.promotion.label_tag }}
        {{ form.promotion }}
    </div>
</div>
    <p><button class="create-button common-button" type="submit">Create</button></p>
    </form>
</body>
</html>
