       <div class="garment-grid">
            {% for garment in garments %}
                <div class="garment-card">
                    
                    <div class="garment-image">
                        {% if garment.main_image %}
                            <img src="{{ garment.main_image.url }}" alt="{{ garment.name }}" style="max-width: 350px;">
                        {% endif %}
                    </div>
                    {% include 'common/wishlist-heart.html' %}
                    <div class="garment-info">
                        <h3>{{ garment.name }}</h3>

                        {% if garment.is_available %}
                            <p class="in-stock">Available</p>
                        {% else %}
                            <p class="out-stock">Out of stock</p>
                        {% endif %}

                        <a href="{% url 'details-garment' garment.slug %}" class="view-btn">View</a>
                    </div>

                </div>
            {% endfor %}
        </div>