{% extends "common/base.html" %}
{% load static %}
{% load i18n %}
 
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/wishlist.css' %}?v=2">
{% endblock %}
 
{% block content %}
 
<div class="wishlist-page">
 
    <div class="wishlist-header">
        <h1 class="wishlist-title">{% trans 'Your Wishlist' %}</h1>
        <p class="wishlist-subtitle">{{ wishlist_items|length }}
            saved item{% if wishlist_items|length != 1 %}s{% endif %}
        </p>
    </div>
 
    {% include "clothes/garments/_wishlist-items.html" %}
 
</div>
 
{% endblock %}
 