{% extends 'common/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}"> {% endblock %}

{% block content %}

<div id="deleteModal">
  <div>
    <h1>Confirm Account Deletion</h1>
    <p>Are you sure you want to deactivate your account? This action cannot be undone.</p>
      <button type="button" class="common-button" onclick="window.history.back()">Cancel</button>
    <button type="button" id="confirmDelete" class="common-button">Yes, delete my account.</button>
  </div>
</div>

<script>
document.getElementById("confirmDelete").addEventListener("click", function() {
    fetch("{% url 'user-delete' %}", {
        method: "POST",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}",
        },
    })
    .then(response => response.json())
    .then(data => {
        window.location.href = data.redirect_url;
    });
});
</script>
{% endblock %}
