{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ella Prime - Login</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-form.css' %}?v=2">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
     {% include "common/logo.html" %}
        <form method="post" class="login-form">

    {% csrf_token %}
    <div class="traditional-login">
        <h3>Sign in</h3>
        <p>{{ form.email }}</p>
        <p>{{ form.password }}</p>


    <p><button class="common-button login-button"><a href="{% url 'register' %}?next={{ request.path }}">Login</a></button></p>
        <p>Don't have an account yet? <a href="{% url 'register' %}">Create one</a></p></div>
            <div class="element"><p>or</p></div>
<div class="google-login">
    <button type="button" class="login-with-google-btn" >
    <a href="{% provider_login_url 'google' %}" class="google-btn">
        Login with Google
    </a></button>
</div>
    </form>
</div>



</body>
</html>