{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ella Prime - Create a color</title>
    <link rel="stylesheet" href="{% static 'css/color-and-size-create.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
     {% include "common/logo.html" %}
        <form method="post" class="create-color-form">
    {% csrf_token %}
        <h3>Create a color</h3>
            <div class="name-form">{{ form.name }}</div>
            <div class="hex-form">{{ form.hex_code }}</div>
    <p><button class="create-button common-button" type="submit">Create</button></p>
    </form>
</div>
</body>
</html>
